/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/03/2019, 11:46:03 PM
    Author     : damianri
*/

header{
    background-image: linear-gradient(rgba(14,37,61,1) 75%, rgba(14,37,61,0.5));
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    align-content: center;
}

body{
    font-family: 'Questrial', sans-serif;
}

.unam{
    height: 100px;
}
.facCiencias{
    height: 100px;
}

footer{
    background-color: #576066;
    color: whitesmoke;
    font-family: fantasy;
    font-size: small;
    padding: 20px;
}

footer ul{
    list-style-type: none;
}

/*
Estilos genericos para los input de primefaces
*/
.ui-button{
    padding: 10px;
    font-family: sans-serif;
}

.form-group{
    padding: 10px 10px;
}
label{
    padding-top: 5px;
}


.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    box-shadow: none;
}
