/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/05/2019, 07:46:41 PM
    Author     : damri
*/

body{
    font-family: 'Nobile', sans-serif;
}

#contenido{

}

#container{
    margin: auto;
    min-width: 800px;
    max-width: 900px;
    background-color: #e5edeb;
    padding: 2em;
    border-radius: 10px;
}

h3{
    background-color: #0e253d;
    border-radius: 5px;
    color: #FFF;
    padding: 5px;
}

.ui-inputfield{
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid grey;
}

.ui-inputfield:focus{
    border: 0px;
    border-radius: 999px;
    padding: 0px 20px;
}

.ui-selectonemenu{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item .ui-corner-all .ui-state-highlight{
    background-color: #0e253d;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
    background-image: none;
    box-shadow: none;
    background-color: #c0c0c0;
}

.ui-button{
    border-radius: 999px;
    font-family: 'Nobile', sans-serif;
    box-shadow: none;

}

#a-ingresar{
    background-color: #eb5e55;
    opacity: 0.7;
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
}

#a-ingresar:hover{
    opacity: 1;
}